In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("Survey concerning GPA.csv")
df_ori = pd.read_csv("Survey concerning GPA.csv")

In [4]:
# Renaming columns (making them more readable)

df.columns = ['CGPA during in person studies',
              'CGPA during online studies',
              'in-person or an online environment',
              'GPA change']

In [5]:
df.iloc[[3,7,8,14,15,24,38]]

,CGPA during in person studies,CGPA during online studies,in-person or an online environment,GPA change
3,2,2+,Online,0.5
7,NaN,NaN,Online,0.3
8,4.15,3.75,In-person,Do the math lol
14,around 2.5,above 2.5,Online,0.3
15,3.23,2.9,In-person,0.33
24,"2,97","2,67",In-person,"0,37"
38,2.88,not sure but it was 2.5+,In-person,increase of around 0.38 points from online to ...

In [6]:
# Despite having clear instructions, users entered unwanted symbols
# like "+" and "-" and
# users have entered non numeric values as well
# the following functions identify these values using regex and promptly
# removes them

# function which removes "+" and "-"
def symbolStrip(s):
    
    pattern = r"[\+\-]"
    s = re.sub(pattern, "", s)
    return s

# function which converts missing values (nan) to 0
def nanToZero(s):
    
    pattern = r"nan"
    s = re.sub(pattern, "0", s)
    return s

# function which removes all non numeric values     
def nonNumericStrip(s):
    
    pattern = r"[a-z\sA-Z]"
    s = re.sub(pattern, "", s)
    return s

# function which converts commas to  decimal points
def commaToPeriod(s):
    
    pattern = r"[\,]"
    s = re.sub(pattern, ".", s)
    return s

In [7]:
# for ease of cleaning, converting the entire dataframe to type string

df = df.astype(str)

# applying functions to the columns which require cleaning

df['CGPA during in person studies']=(df['CGPA during in person studies']
                                       .apply(symbolStrip)
                                       .apply(nanToZero)
                                       .apply(nonNumericStrip)
                                       .apply(commaToPeriod))

df['CGPA during online studies'] = (df['CGPA during online studies']
                                       .apply(symbolStrip)
                                       .apply(nanToZero)
                                       .apply(nonNumericStrip)
                                       .apply(commaToPeriod))

df['GPA change'] = (df['GPA change']
                        .apply(symbolStrip)
                        .apply(nanToZero)
                        .apply(nonNumericStrip)
                        .apply(commaToPeriod))

In [8]:
# converting datatype back to a numerical

df["CGPA during in person studies"]=(df["CGPA during in person studies"]
                                            .astype(float))

df["CGPA during online studies"] = (df["CGPA during online studies"]
                                        .astype(float))

# filtering out invalid data (Deletes entire row
# if the entries are larger than 4.5)

df = df.drop(df[(df['CGPA during in person studies'] > 4.5)].index)
df = df.drop(df[(df['CGPA during online studies'] > 4.5)].index)

In [9]:
# our survey included the ability to only enter the difference of GPA if said person was
# not comfortable with sharing their GPA

# The code below checks if the user did not enter their GPA and creates a new dataframe
# which holds only entries where the participents did not enter their CGPA

data1 = list(df['CGPA during in person studies'])
data2 = list(df['CGPA during online studies'])
ls = []

for i in range(df.shape[0]):
    if data1[i] == 0 and data2[i] == 0:
        ls.append(i)
    

anonEntryDf = df.iloc[ls].copy()
anonEntryDf

,CGPA during in person studies,CGPA during online studies,in-person or an online environment,GPA change
7,0.0,0.0,Online,0.3
30,0.0,0.0,In-person,0.29
31,0.0,0.0,In-person,0.22
43,0.0,0.0,In-person,0.28
47,0.0,0.0,In-person,0.3

In [10]:
# converting GPA change to float

anonEntryDf["GPA change"] = (anonEntryDf["GPA change"]
                             .astype(float))
ls_ = []

# the following code checks if the participent did better online or inperson
# if they did better online the difference will be negative
# whereas if they did better in person the difference will be positive

for i in list(anonEntryDf['in-person or an online environment']):
    if i == "Online":
        ls_.append(-1)
            
    else:
        ls_.append(1)
        
anonEntryDf["GPA difference (in-person - online)"] = (np.array(anonEntryDf["GPA change"])
                                                      * np.array(ls_))

In [11]:
anonEntryDf[['GPA difference (in-person - online)']]

    GPA difference (in-person - online)
7                                 -0.30
30                                 0.29
31                                 0.22
43                                 0.28
47                                 0.30

In [12]:
# finding GPA difference by subtracting online study entries from inperson study entries 

df["GPA difference (in-person - online)"] = (np.array(df["CGPA during in person studies"])
                                             - np.array(df["CGPA during online studies"]))

In [13]:
# merging our dataframe with our anonmous entries dataframe

df.iloc[ls] = anonEntryDf

In [14]:
col_data = list(df['GPA difference (in-person - online)'])
data_30 = []
data_20 = []
data_15 = []

for i in (col_data):
    if i >= 0.30:
        data_30.append(i)
    if i >= 0.20:
        data_20.append(i)
        
    if i >= 0.10:
        data_15.append(i)
 

print("number of entries")

print(len(data_30))
print(len(data_20))
print(len(data_15))

14/54

number of entries
14
22
29

0.25925925925925924

In [15]:
df

,CGPA during in person studies,CGPA during online studies,in-person or an online environment,GPA change,GPA difference (in-person - online)
0,2.730,2.980,In-person,0.25,-0.250
1,3.600,3.880,Online,0.28,-0.280
2,3.500,3.300,Online,0.2,0.200
3,2.000,2.000,Online,0.5,0.000
4,3.463,3.492,Online,0.031,-0.029
5,2.900,3.200,Online,0.3,-0.300
6,2.300,2.700,Online,0.4,-0.400
7,0.000,0.000,Online,0.3,-0.300
8,4.150,3.750,In-person,,0.400
10,3.700,3.200,In-person,0.5,0.500
11,2.830,2.660,In-person,0.23,0.170
12,3.040,3.100,Online,0.06,-0.060
13,3.230,3.100,In-person,0.13,0.130
14,2.500,2.500,Online,0.3,0.000
15,3.230,2.900,In-person,0.33,0.330
16,3.450,3.120,In-person,0.33,0.330
17,3.000,2.860,In-person,0.14,0.140
18,3.110,2.900,In-person,0.21,0.210
19,3.220,2.900,In-person,0.32,0.320
20,2.900,2.530,In-person,0.37,0.370
21,3.070,2.940,In-person,0.13,0.130
22,2.880,3.040,Online,0.16,-0.160
23,2.930,2.630,In-person,0.3,0.300
24,2.970,2.670,In-person,0.37,0.300
25,3.510,3.120,In-person,0.39,0.390
26,2.500,2.700,Online,0.2,-0.200
27,3.140,3.000,In-person,0.14,0.140
28,3.190,2.830,In-person,0.36,0.360
29,2.890,2.430,In-person,0.46,0.460
30,0.000,0.000,In-person,0.29,0.290
31,0.000,0.000,In-person,0.22,0.220
32,2.770,3.040,Online,0.27,-0.270
33,3.000,3.040,Online,0.04,-0.040
34,2.890,2.660,In-person,0.23,0.230
35,2.900,2.800,In-person,0.1,0.100
36,3.740,3.680,In-person,0.06,0.060
37,4.000,4.100,Online,0.1,-0.100
38,2.880,2.500,In-person,0.38,0.380
39,3.770,3.800,Online,0.03,-0.030
40,3.000,3.000,In-person,.,0.000
41,2.900,2.660,In-person,0.24,0.240
42,3.080,2.970,In-person,0.12,0.110
43,0.000,0.000,In-person,0.28,0.280
44,2.670,2.980,Online,0.31,-0.310
45,3.020,3.100,Online,0.08,-0.080
46,2.880,3.000,Online,0.12,-0.120
47,0.000,0.000,In-person,0.3,0.300
48,3.220,3.500,Online,0.28,-0.280
49,3.220,3.000,In-person,0.22,0.220
50,3.830,4.000,Online,0.17,-0.170
51,2.530,2.640,Online,0.11,-0.110
52,3.210,2.900,In-person,0.31,0.310
53,3.220,3.170,In-person,0.05,0.050